@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

$body-color:rgb(32 38 50);
$bg-color:rgb(49 58 73);
$green-color: rgb(83 255 171);
$white-color:rgb(207 227 234)